<td>
  <span class="handle"></span>&nbsp;
  <%= product.sku rescue '' %>
</td>
<td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
<td><%= number_to_currency getCPrice(product) rescue '' %></td>
<td class="actions" data-hook="admin_products_index_row_actions">
  <%= link_to_edit product, :class => 'edit' unless product.deleted? %>
  &nbsp;
  <%= link_to_clone product, :class => 'clone' %>
  &nbsp;
  <%= link_to_delete product unless product.deleted? %>
  <span class='delfromcountry'>
    &nbsp;
    <%= link_to_deletefc product unless product.deleted? %>
  </span>
</td>
